@page
@{
    ViewData["Title"] = "David Zeman";
}

<div class="my-5">
    <div class="d-flex align-items-center mb-4 gap-5">
        <div class="flex-shrink-0 text-md-start">
        </div>
        <div>
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>
    <p class="lead">Podnikatel, Sexy kluk a tohlecto támhlecto...</p>
</div>